argcomplete==3.0.8 ; python_version >= "3.10" and python_version < "3.12"
astroid==2.15.5 ; python_version >= "3.10" and python_version < "3.12"
black==23.3.0 ; python_version >= "3.10" and python_version < "3.12"
cachetools==5.3.1 ; python_version >= "3.10" and python_version < "3.12"
cfgv==3.3.1 ; python_version >= "3.10" and python_version < "3.12"
chardet==5.1.0 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.1.0 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.3 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12"
commitizen==3.2.2 ; python_version >= "3.10" and python_version < "3.12"
decli==0.6.1 ; python_version >= "3.10" and python_version < "3.12"
dill==0.3.6 ; python_version >= "3.10" and python_version < "3.12"
distlib==0.3.6 ; python_version >= "3.10" and python_version < "3.12"
filelock==3.12.0 ; python_version >= "3.10" and python_version < "3.12"
flake8==6.0.0 ; python_version >= "3.10" and python_version < "3.12"
identify==2.5.24 ; python_version >= "3.10" and python_version < "3.12"
importlib-metadata==6.6.0 ; python_version >= "3.10" and python_version < "3.12"
isort==5.12.0 ; python_version >= "3.10" and python_version < "3.12"
jax==0.4.11 ; python_version >= "3.10" and python_version < "3.12"
jaxlib @ https://storage.googleapis.com/jax-releases/cuda12/jaxlib-0.4.11+cuda12.cudnn88-cp310-cp310-manylinux2014_x86_64.whl ; python_version == "3.10" and sys_platform == "linux"
jaxlib @ https://storage.googleapis.com/jax-releases/cuda12/jaxlib-0.4.11+cuda12.cudnn88-cp311-cp311-manylinux2014_x86_64.whl ; python_version == "3.11" and sys_platform == "linux"
jaxlib @ https://storage.googleapis.com/jax-releases/mac/jaxlib-0.4.11-cp310-cp310-macosx_10_14_x86_64.whl ; platform_machine == "x86_64" and python_version == "3.10" and sys_platform == "darwin"
jaxlib @ https://storage.googleapis.com/jax-releases/mac/jaxlib-0.4.11-cp310-cp310-macosx_11_0_arm64.whl ; platform_machine == "arm64" and python_version == "3.10" and sys_platform == "darwin"
jaxlib @ https://storage.googleapis.com/jax-releases/mac/jaxlib-0.4.11-cp311-cp311-macosx_10_14_x86_64.whl ; platform_machine == "x86_64" and python_version == "3.11" and sys_platform == "darwin"
jaxlib @ https://storage.googleapis.com/jax-releases/mac/jaxlib-0.4.11-cp311-cp311-macosx_11_0_arm64.whl ; platform_machine == "arm64" and python_version == "3.11" and sys_platform == "darwin"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
lazy-object-proxy==1.9.0 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.12"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
ml-dtypes==0.2.0 ; python_version >= "3.10" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
mypy==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
nodeenv==1.8.0 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.24.3 ; python_version >= "3.10" and python_version < "3.12"
opt-einsum==3.3.0 ; python_version >= "3.10" and python_version < "3.12"
packaging==23.1 ; python_version >= "3.10" and python_version < "3.12"
pathspec==0.11.1 ; python_version >= "3.10" and python_version < "3.12"
pep8-naming==0.13.3 ; python_version >= "3.10" and python_version < "3.12"
platformdirs==3.5.1 ; python_version >= "3.10" and python_version < "3.12"
pluggy==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
pre-commit==3.3.2 ; python_version >= "3.10" and python_version < "3.12"
prompt-toolkit==3.0.38 ; python_version >= "3.10" and python_version < "3.12"
pycodestyle==2.10.0 ; python_version >= "3.10" and python_version < "3.12"
pyflakes==3.0.1 ; python_version >= "3.10" and python_version < "3.12"
pylint==2.17.4 ; python_version >= "3.10" and python_version < "3.12"
pyproject-api==1.5.1 ; python_version >= "3.10" and python_version < "3.12"
pyupgrade==3.4.0 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "3.12"
questionary==1.10.0 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.10.1 ; python_version >= "3.10" and python_version < "3.12"
setuptools==67.8.0 ; python_version >= "3.10" and python_version < "3.12"
termcolor==2.3.0 ; python_version >= "3.10" and python_version < "3.12"
tokenize-rt==5.0.0 ; python_version >= "3.10" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.11.8 ; python_version >= "3.10" and python_version < "3.12"
tox==4.6.0 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.6.3 ; python_version >= "3.10" and python_version < "3.12"
virtualenv==20.23.0 ; python_version >= "3.10" and python_version < "3.12"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.15.0 ; python_version >= "3.10" and python_version < "3.12"
zipp==3.15.0 ; python_version >= "3.10" and python_version < "3.12"
